<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tacomall.common.mapper.approve.ApproveProcessMapper">
    <sql id="base_colums">
		ap.*
  </sql>
    <resultMap id="approveProcess" type="com.tacomall.common.entity.approve.ApproveProcess">
        <id column="id" property="id"></id>
        <result property="nodeId" column="node_id"></result>
        <association property="approveNode" column="{id = node_id}" select="com.tacomall.common.mapper.approve.ApproveNodeMapper.queryInfoByMap"></association>
    </resultMap>

    <select id="queryInfoByMap" resultMap="approveProcess">
        SELECT
        <include refid="base_colums" />
        FROM approve_Process ap
        <where>
            <if test="approveId != null  and approveId != ''">  ap.approve_id = ${approveId} AND </if>
        </where>
        ap.is_delete = 0
    </select>
</mapper>