*.class



# Mobile Tools for Java (J2ME)

.mtj.tmp/



# Package Files #

*.jar

*.war

*.ear



#Gradle temporary files

target/



#Eclipse files

**/.project

**/.classpath

**/.settings/

blog/bin/

**/.tern-project

**/.factorypath



#IntelliJ files

**/*.iml

**/.idea

**/.gradle





# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

hs_err_pid*

# vscode

.vscode

# docker

_docker/images/mysql/data/
*-local.yml

/*.log
