<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.tacomall.common.mapper.order.OrderFormMapper">
    <sql id="base_colums">
		of.*
    </sql>
    <resultMap id="orderForm" type="store.tacomall.common.entity.order.OrderForm">
        <id column="id" property="id"></id>
        <collection property="orderFormGoodsItemsList" column="id" select="store.tacomall.common.mapper.order.OrderFormGoodsItemsMapper.queryOrderFormGoodsItemsListByFormId"></collection>
    </resultMap>
    <resultMap id="orderFormPage" type="store.tacomall.common.vo.base.PageVo">
        <id column="id" property="id"></id>
    </resultMap>
    <select id="queryInfo" resultMap="orderForm">
        SELECT <include refid="base_colums" />
        FROM order_form AS of
        ${ew.customSqlSegment}
    </select>

    <select id="queryPage" resultMap="orderFormPage">
        SELECT <include refid="base_colums" />
        FROM order_form AS of
        ${ew.customSqlSegment}
    </select>
</mapper>
