.page,
.page--column {
  background: @body-background;

  text,
  input {
    font-size  : @font-size-base;
    font-family: SourceHanSansSC-regular;
    font-weight: 400;
    color      : @text-color;
  }
}

.page {
  position  : relative;
  width     : 100%;
  min-height: 100vh;

  &--column {
    position      : fixed;
    top           : 0;
    bottom        : 0;
    width         : 100%;
    display       : flex;
    flex-direction: column;

    .col-main {
      overflow-y: auto;
    }
  }
}

.border-1px {
  &-top {
    position: relative;

    &::before {
      position  : absolute;
      content   : '';
      top       : 0;
      left      : 0;
      width     : 100%;
      height    : 0;
      border-top: 1px solid @border-color-split;
      transform : scaleY(0.5);
    }
  }

  &-left {
    position: relative;

    &::before {
      position   : absolute;
      content    : '';
      top        : 0;
      left       : 0;
      height     : 100%;
      width      : 0;
      border-left: 1px solid @border-color-split;
      transform  : scaleX(0.5);
    }
  }

  &-bottom {
    position: relative;

    &::after {
      position     : absolute;
      content      : '';
      bottom       : 0;
      left         : 0;
      width        : 100%;
      height       : 0;
      border-bottom: 1px solid @border-color-split;
      transform    : scaleY(0.5);
    }
  }

  &-right {
    position: relative;

    &::before {
      position    : absolute;
      content     : '';
      top         : 0;
      right       : 0;
      height      : 100%;
      width       : 0;
      border-right: 1px solid @border-color-split;
      transform   : scaleX(0.5);
    }
  }
}